.box_style_4 {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 25px;
	padding: 20px;
	position: relative;
	text-align: center;
	border: 1px solid #bb1616ff;
}

.box_style_4:after,
.box_style_4:before {
	content: "";
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	bottom: 100%;
	left: 50%;
	margin-left: -10px;
}

.box_style_4:before {
	border-bottom: 10px solid #bb1616ff;
	margin-bottom: 0;
}

.box_style_4:after {
	border-bottom: 10px solid #fff;
	margin-bottom: -1px;
	z-index: 1;
}

.box_style_4 i {
	font-size: 52px;
	margin-top: 10px;
	display: inline-block;
}


.box_style_4 a.phone {
	font-size: 18px;
	display: block;
	margin-bottom: 20px;

}

a {
    color: #bb1616ff;
    text-decoration: none;
    background-color: transparent;
}







